@{
    ViewData["Title"] = "API Home Page";
}
<div class="row">
    <div class="col-lg-12">
        <h2>Invalid Request</h2>
        <p>You submitted a request which I dont understand. Please fix and try again</p>
    </div>
</div>
